@charset "utf-8";


section h1{
    text-align: center;
}

section .intro{
    width: 100%;
    display: flex;
    margin: 50px 0;
}
.bk_card{
    width: 1620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #fffcf8;
    padding: 50px 30px;
    border-radius: 20px;
    box-sizing: border-box;
}
.bk_card .card_con{
    width: 1200px;
    flex: 1 1 30%;
}
.card_title{ font-size: 23px;}

.card_txt{
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
}
.card_txt span.underscore{
    box-shadow: inset 0 -5px rgba(255, 0, 0, .2);
}
.bk_card .card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_con .card_title{
    text-align: center;
}
.card03 .bk_card{
    width: 100%;
}
.card03 .bk_card .card_txt{
    width: 1200px;
}
.card03 .bk_card .card_txt .company_infor{
    width: 60%;
    margin: 0 auto;
}
.card03 .company_infor ul{
    display: flex;
}
.card03 .company_infor ul li{
    flex: 1;
}